{
  "env": {
    "development": {
      "plugins": [["styled-components", { "ssr": true, "displayName": false, "preprocess": false }], ["graphql-tag"]],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [["styled-components", { "ssr": true, "displayName": false, "preprocess": false }], ["graphql-tag"]],
      "presets": ["next/babel"]
    }
  },
  "plugins": [["styled-components", { "ssr": true, "displayName": false, "preprocess": false }], ["graphql-tag"]]
}
